#customer-page {
  @include main-page-background;
  background-image: url(https://images.unsplash.com/photo-1567491634123-460945ea86dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);
  flex-direction: row;
}

#customer-booking-container {
  @include main-block-container;
}

#customer-trips-container {
  @include main-block-container;
}

#customer-finances-container {
  @include main-block-container;
}

#customer-spending-history-container {
  @include card-styling(1vw, 1em, 3vw 1vw 1vw 1vw);
  text-align: center;
}

#no-upcoming-trips-warning {
  @include card-styling(1vw, 1em, 1vw);
}

.customer-cost {
  font-size: 1.7em;
  // text-align: center;
}

.customer-header {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid $light-blue;
}

#customer-select-dates-container {
  @include flex(column);
  margin: 1vw;
  padding: .5vw;
}

.booking-input {
  @include input-styling(80%, .5vw, .7vw, .7em);
}

#customer-search-dates-button {
  @include main-button(.2vw, .2vw, white, black, .8em);
}

#customer-search-dates-button:hover {
  @include button-hover($light-blue, black);
}

.welcome-user {
  @include welcome-user-styling;
}

#past-reservations-container {
  @include flex(column);
}

#future-reservations-container {
  @include flex(column);
}

#past-reservations-container div:nth-child(n+5) {
  display: none;
}

.trip-card {
  @include card-styling(2vw, 1em, 1.3vw);
  width: 80%;
  align-self: center;
}

.trip-header {
  text-align: center;
  border-bottom: 3px solid black;
  padding-bottom: 1vw;
}

.reservation-info {
  border: 2px solid $light-blue;
  padding: 1.5vw;
  margin: 1.4vw;
  text-align: center;
  font-size: .9em;
}

#view-more-past-trips-button {
  @include main-button(.5vw, .4vw, white, black, 1em);
  text-align: center;
}

#view-more-past-trips-button:hover {
  @include button-hover($light-blue, black);
}

.room-details-p {
  font-size: .8em;
}

.room-image {
  @include room-image-styling(15vw);
}

.available-room-card {
  @include card-styling(2vw, 1em, 1.3vw);
}

.available-room-image {
  @include room-image-styling(20vw);
}

.book-reservation-button {
  @include main-button(.2vw, .2vw, black, white, 1em);
}

.book-reservation-button:hover {
  @include button-hover($grey, white);
}
