* {
  font-family: 'Raleway', sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#banner {
  text-align: center;
  height: 10%;
  text-transform: uppercase;
}

#login-page {
  text-align: center;
  height: 90%;
  background-image: url(https://images.unsplash.com/photo-1554840757-8ceb09d6aa05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-position: center;
  background-size: cover;
}

#login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  align-self: center;
  width: 80%;
  margin: .5vw;
  padding: .7vw;
  font-size: 1em;
  border: 1px solid black;
  border-radius: 7px;
  font-weight: 400;
  font-style: italic;

}

.login-input:hover,
.login-input:focus {
  background-color: #EAEAEA;
  color: black;
}

#login-button {
  align-self: center;
  width: 50%;
  margin: .5vw;
  padding: .6vw;
  border: 1px solid black;
  border-radius: 7px;
  letter-spacing: 0;
  background-color: black;
  color: white;
  font-size: 1em;
  font-family: 'Cardo', serif;
}

#login-button:hover {
  background-color: #DEFCFF;
  color: black;
  cursor: pointer;
}

#welcome-container {
  margin-top: 15%;
}

#customer-page {
  background-image: url(https://images.unsplash.com/photo-1567491634123-460945ea86dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);
  background-position: center;
  background-size: cover;
  height: 90%;
}

#customer-page-container {
  background-color: black;
  opacity: 90%;
  width: 70%;
  height: 70%;
  color: white;
  overflow: scroll;
  border-radius: .5vw;
  padding: 1.5vw 3.5vw 1vw 3.5vw;
  border: 4px solid white;
  margin-top: .5vw;
}

#customer-booking-container {
  text-align: center;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.booking-input {
  display: inline-block;
  width: 20%;
  margin: .5vw;
  padding: .7vw;
  font-size: .7em;
  border: 1px solid black;
  border-radius: 7px;
  font-weight: 400;
  font-style: italic;
}

#search-dates-button {
  margin: .5vw;
  padding: .4vw;
  border: 1px solid black;
  border-radius: 7px;
  letter-spacing: 0;
  background-color: white;
  color: black;
  font-size: 1em;
  font-family: 'Cardo', serif;
}

#search-dates-button:hover {
  background-color: #DEFCFF;
  color: black;
  cursor: pointer;
}

.welcome-user {
  color: black;
  font-size: 1.5em;
  font-family: 'Cardo', serif;
  margin-right: 60%;
  margin-top: 2vw;
  background-color: #DEFCFF;
  padding: .7vw;
  opacity: 80%;
  border-radius: 10px;
}

#usernamne-header {
  color: #DEFCFF;
  font-size: 2.5em;
  font-family: 'Cardo', serif;
  margin-right: 40%;
  margin-top: 0;
}

#manager-page {
  background-image: url(https://images.unsplash.com/photo-1482635334133-de0ee55e5864?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2090&q=80);
  background-position: center;
  background-size: cover;
  height: 90%;
  display: flex;
  flex-direction: row;
}

#manager-page-booking-container {
  background-color: black;
  opacity: 85%;
  width: 30%;
  height: 80%;
  margin: 2vw;
  display: block;
  border: 4px solid white;
  color: white;
  border-radius: .5vw;
  padding: 1.5vw 1vw 1.5vw 1vw;
  overflow: scroll;
}

#manager-page-revenue-container {
  background-color: black;
  opacity: 85%;
  width: 30%;
  height: 80%;
  margin: 2vw;
  border: 4px solid white;
  color: white;
  border-radius: .5vw;
  padding: 1.5vw 1vw 1.5vw 1vw;
}

#manager-page-reservations-container {
  background-color: black;
  opacity: 85%;
  width: 30%;
  height: 80%;
  margin: 2vw;
  border: 4px solid white;
  color: white;
  border-radius: .5vw;
  padding: 1.5vw 1vw 1.5vw 1vw;
  overflow: scroll;
}

// #revenue-and-reservations {
//   display: flex;
//   flex-direction: row;
//   width: 100%;
//   height: 70%;
//   align-items: center;
//   justify-content: center;
//
// }

.flex {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
}

.hide {
  display: none;
}

#past-reservations-container {
  display: flex;
  flex-direction: column;
  // height: 20em;
  // overflow: scroll;
}

#future-reservations-container {
  display: flex;
  flex-direction: column;
}

#past-reservations-container div:nth-child(n+5) {
  display: none;
}

.trip-card {
  background-color: #DEFCFF;
  color: black;
  margin: 1vw;
  padding: 2vw 6vw 2vw 6vw;
  width: 65%;
  align-self: center;
  border: 2px solid black;
}

.trip-header {
  text-align: center;
  border-bottom: 3px solid black;
  padding-bottom: 1vw;
}

.reservation-info {
  border: 2px solid #DEFCFF;
  padding: 1vw;
}

#view-more-past-trips-button {
  margin: .5vw;
  padding: .4vw;
  border: 1px solid black;
  border-radius: 7px;
  letter-spacing: 0;
  background-color: white;
  color: black;
  font-size: 1em;
  font-family: 'Cardo', serif;
  text-align: center;
}

#view-more-past-trips-button:hover {
  background-color: #DEFCFF;
  color: black;
  cursor: pointer;
}

.room-details-p {
  font-size: .8em;
}

.room-image {
  width: 25vw;
  border: 3px solid black;
}

#manager-search-dates-button {
  margin: .5vw;
  padding: .4vw;
  border: 1px solid black;
  border-radius: 7px;
  letter-spacing: 0;
  background-color: white;
  color: black;
  font-size: 1em;
  font-family: 'Cardo', serif;
}

#manager-search-dates-button:hover {
  background-color: #DEFCFF;
  color: black;
  cursor: pointer;
}

.manager-booking-header {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #DEFCFF;
}

#booking-input-container {
  padding: 1vw;
}

#search-customer-input-container {
  display: flex;
  justify-content: center;
}

.search-customer-input {
  display: inline-block;
  width: 90%;
  margin: 2vw 1vw 1vw 1vw;
  padding: .6vw;
  font-size: 1em;
  border: 1px solid black;
  border-radius: 7px;
  font-weight: 400;
  font-style: italic;
}

.capitalize {
  text-transform: capitalize;
}

.reservation-card {
  background-color: #DEFCFF;
  padding: .2vw 2.5vw;
  color: black;
  margin: 2vw 3vw;
}

.reservation-card-name {
  padding-bottom: .5vw;
  border-bottom: 2px solid black;
}

.cancel-reservation-button {
  align-self: center;
  width: 50%;
  margin: .2vw;
  padding: .2vw;
  border: 1px solid black;
  border-radius: 7px;
  letter-spacing: 0;
  background-color: black;
  color: white;
  font-size: .8em;
  font-family: 'Cardo', serif;
}

.cancel-reservation-button:hover {
  background-color: #5D5D5D;
  color: white;
  cursor: pointer;
}

.guest-card {
  background-color: #DEFCFF;
  padding: .3vw;
  color: black;
  margin: .7vw;
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.guest-card-name {
  margin: .3vw;
  padding: .2vw;
  display: block;
}

.expand-guest-info-button {
  height: 100%;
  background-color: #DEFCFF;
  border: none;
  margin-left: auto;
}

.guest-info-image {
  width: 2vw;
  height: 2vw;
  background-color: #DEFCFF;
}
