✓
* {
  font-family: 'Raleway', sans-serif;
}
✓
html {
  width: 100%;
  height: 100%;
}
✓
body {
  width: 100%;
  height: 100%;
}
✓
#banner {
  text-align: center;
  height: 10%;
  text-transform: uppercase;
}

.flex {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
}

.hide {
  display: none;
}

.capitalize {
  text-transform: capitalize;
}
